.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-size: cover;
    height: 100vh;
    background-color: #7a9dfd;
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    width: 100%;
    height: 3.25em;
    line-height: 3.25em;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    cursor: default;
}

.header::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.75em;
    background-color: #7a9dfd;
    background-image: -linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: grey;
}

.nav-active {
    background-color: rgba(110, 79, 129, 0.35);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    border-color: transparent;
    border-radius: 3%;
}

.box {
    text-align: center;
    margin: 1em 0 0 0;
    color: rgba(255, 255, 255);
}

.row>* {
    padding-left: 0;
    padding-right: 0;
}

.row {
    --bs-gutter-x: 0;
}

.icon-box {
    animation: fadein 2s;
    display: inline-block;
    color: rgba(255, 255, 255);
    background-color: #7a9dfd;
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    border-radius: 100%;
    width: 5em;
    height: 5em;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 1), 0 0 0 8px rgba(255, 255, 255);
    margin: 0 0 2em 0;
}

svg {
    margin: 0.75em;
}

.title-box {
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.border {
    border-style: solid;
    border: black;
}

.body-box {
    margin: 0 2em 2em 2em;
}

.app-heading {
    margin-top: 2.5em;
    background-color: blue;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
    padding: 4em 0 1.5em 0;
    text-align: center;
}

.box-heading {
    font-size: 3.5em;
    height: 2em;
    line-height: 1em;
    font-weight: 700;
    background-color: blue;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
    padding: 0 0 2em 0;
    text-align: center;
}

p {
    color: white;
    background-image: url(../images/overlay.png);
    background-clip: text;
}

.app-title {
    font-size: 3.5em;
    height: 3em;
    font-weight: 700;
    color: white;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.boxes {
    background-color: blue;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23ff4400'/%3E%3Cstop offset='1' stop-color='%238800ff'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
}

.app-button {
    text-align: center;
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
}

.title-box.bigger{
    font-size:1.6em;
}
.body-box.bigger{
    font-size:1.25em;
}
.go-to-button {
    color: #ffffff;
    background: rgba(54, 91, 255, 0.534);
    background-image: url(../images/overlay.png);
    text-align: center;
    font-size: 1.5em;
    line-height: 1em;
    border: 1px solid #fff;
    padding: 0.75em 1.25em;
    border-radius: 4px;
    font-family: 'Raleway';
    font-weight: 600;
    transition: background 0.3s, border-color 0.3s;
    margin-top: 20px;
}

.go-to-button:hover {
    background: rgba(255, 255, 255, 0.534);
    color: #000;
}

.see-code-button {
    color: #ffffff;
    background: rgba(36, 167, 47, 0.534);
    background-image: url(../images/overlay.png);
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1em;
    border: 1px solid #fff;
    padding: 0.75em ;
    border-radius: 4px;
    font-family: 'Raleway';
    font-weight: 600;
    transition: background 0.3s, border-color 0.3s;
    margin-top: 20px;
}

.see-code-button:hover {
    background: rgba(255, 255, 255, 0.534);
    color: #000;
}

.dropdown-menu {
    background-color: #7a9dfd;
    line-height: 2.25em;
}

.dropdown-item {
    font-weight: 700;
    color: white;
}

.dropdown-item:hover {
    color: grey;
}

.footer {
    text-align: center;
    width: 100%;
    background: #7a9dfd;
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    border-top: 1px solid rgb(222, 226, 230);
}

/* The ribbons */

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  margin-top: 2.75em;
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}